$rich-black: #0e171c;
$charcoal-blue: #325266;
$harvest-gold: #e69000;
$grullo: #a8a592;
$sage: #bcb9a4;
$peach: #ffe9c2;
$cosmic-latte: #fff4e1;

$heading-font: 'Titillium Web', sans-serif;
$body-font: 'Roboto', sans-serif;

$max-content-width: 1000px;
$logo-width: 250px;
$intro-width: 600px;
$standard-margin: 20px;
$navigation-bar-height: 42px;

$viewport-breakpoint-content-container: calc(#{$max-content-width} + (2 * #{$standard-margin}) - 1px);
$viewport-breakpoint-events: 930px;
$viewport-breakpoint-buttons: 500px;
$viewport-breakpoint-navigation-toggle: 390px;

body {
  font-family: $body-font;
  font-size: 17px;
  line-height: 1.25;
  background-color: $peach;
  color: $rich-black;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.content-container {
  max-width: $max-content-width;
  margin: auto;
  padding-left: $standard-margin;
  padding-right: $standard-margin;
}

header {
  img {
    position: absolute;
    top: 90px;
    left: calc(max(#{$standard-margin}, (100vw - (100vw - 100%) - #{$max-content-width}) / 2));
    width: $logo-width;
    padding-right: calc((#{$max-content-width} - #{$intro-width} - #{$logo-width}) / 2);
    border-right: 1px dashed $cosmic-latte;

    @media (max-width: $viewport-breakpoint-content-container)  {
      width: calc((100vw - (100vw - 100%) - (2 * #{$standard-margin})) * .25);
      padding-right: calc((100vw - (100vw - 100%) - (2 * #{$standard-margin})) * .065);
    }

    @media (max-width: $viewport-breakpoint-events) {
      top: 70px;
      width: 175px;
      padding: $standard-margin;
      border: 2px solid $cosmic-latte;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      top: -15px;
      background-color: scale-color($charcoal-blue, $lightness: -20%);
    }
  }

  nav {
    background-color: $rich-black;
    color: $cosmic-latte;
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 18px;
    height: $navigation-bar-height;

    .menu-toggle {
      display: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      float: right;
      position: relative;
      top: 7px;
      right: -2px;
      font-family: inherit;
      font-size: 1em;
      text-transform: inherit;
      border: none;
      padding: 0;
      padding-left: 2px;
      padding-right: 2px;
      cursor: pointer;
      background-color: inherit;
      color: $harvest-gold;

      @media (max-width: $viewport-breakpoint-events) {
        display: inline-block;
      }

      &:hover {
        color: $cosmic-latte;
      }

      &:focus-visible {
        color: $rich-black;
        background-color: $harvest-gold;
      }

      .text {
        @media (max-width: $viewport-breakpoint-navigation-toggle) {
          display: none;
        }
      }

      i.fas.fa-bars {
        position: relative;
        top: 1px;
      }

      &.toggle-on {
        .closed-content {
          display: none;
        }

        .open-content {
          display: block;
        }
      }

      &:not(.toggle-on) {
        .closed-content {
          display: block;
        }

        .open-content {
          display: none;
        }
      }
    }

    .menu {
      list-style-type: none;
      padding-inline-start: 0;
      padding-top: calc(#{$standard-margin} / 2);
      padding-bottom: calc(#{$standard-margin} / 2);
      margin: 0;

      li {
        display: inline;
        margin-right: calc(5 * #{$standard-margin} / 2);
        cursor: default;

        a {
          color: $harvest-gold;
          text-decoration: none;
          padding-left: 2px;
          padding-right: 2px;

          &:hover {
            color: $cosmic-latte;
          }

          &:focus-visible {
            color: $rich-black;
            background-color: $harvest-gold;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: $viewport-breakpoint-events) {
        &:not(.toggle-on) {
          display: none;
        }

        &.toggle-on {
          position: absolute;
          right: calc(#{$standard-margin} - 2px);
          top: $navigation-bar-height;
          padding: 0;
          background-color: $rich-black;
          border: 2px solid $cosmic-latte;

          li {
            display: block;
            margin: calc(#{$standard-margin} / 2);
            text-align: right;
          }
        }
      }
    }
  }
}

section.body-header {
  background-color: $charcoal-blue;
  color: $cosmic-latte;
  padding-top: $standard-margin;
  padding-bottom: $standard-margin;
  border-style: solid;
  border-image: url('/images/pixel-transition.png');
  border-image-width: 30px !important;
  border-image-slice: 0 0 100% 0;
  border-image-repeat: repeat;
  border-image-outset: 29.5px;

  h1 {
    margin: 0;
    font-size: 27px;
  }

  article {
    margin-left: calc(#{$max-content-width - $intro-width});

    @media (max-width: $viewport-breakpoint-content-container)  {
      margin-left: calc((100vw - (100vw - 100%) - (2 * #{$standard-margin})) * .4);
    }

    @media (max-width: $viewport-breakpoint-events) {
      margin-left: 0;
      margin-top: 165px;
    }

    .buttons {
      margin-top: calc(#{$standard-margin} + (#{$standard-margin} / 2));
      margin-bottom: calc(#{$standard-margin} / 2);

      a {
        background-color: $harvest-gold;
        color: $rich-black;
        padding: 17px;
        margin-right: calc(#{$standard-margin} / 2);
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;

        @media (max-width: $viewport-breakpoint-buttons) {
          display: block;
          height: 20px;
          margin-right: 0;
          margin-bottom: calc(#{$standard-margin} / 2);
        }

        &:last-child {
          margin: 0;
        }

        &:hover {
          background-color: $rich-black;
          color: $harvest-gold;
        }

        &:focus-visible {
          color: $harvest-gold;
          background-color: $rich-black;
        }

        i.fab {
          position: relative;
          top: 6px;
          right: 5px;

          @media (max-width: $viewport-breakpoint-buttons) {
            top: -8px;
          }

          &.fa-discord {
            top: 8px;

            @media (max-width: $viewport-breakpoint-buttons) {
              top: -6px;
            }
          }
        }

        .text {
          @media (max-width: $viewport-breakpoint-buttons) {
            position: relative;
            top: -14px;
          }
        }
      }
    }
  }
}

section.body-header {
  h1 {
    margin-top: 0;
    font-size: 23px;
  }

  &.subpage h1 {
    font-size: 30px;
  }
}

section.body-main {
  margin-top: 55px;
  margin-bottom: calc(3 * #{$standard-margin} / 2);

  h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 27px;
  }

  h2 {
    font-size: 25px;
  }

  .event-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $viewport-breakpoint-events) {
      flex-direction: column;
    }

    article {
      padding: calc(2 * #{$standard-margin});
      padding-top: calc(3 * #{$standard-margin} / 2);
      background-color: $sage;
      border: 3px solid $grullo;
      margin-right: $standard-margin;

      @media (max-width: $viewport-breakpoint-events) {
        margin-right: 0;
        margin-bottom: $standard-margin;
      }

      &:last-child {
        margin: 0;
      }

      h2 {
        font-size: 22px;
        text-decoration: underline;
        margin-left: 80px;
        margin-top: 0;
        margin-bottom: 25px;
      }

      .icon {
        position: absolute;

        i.fas {
          position: relative;
          left: 0;
          bottom: 11px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
