<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Iowa City Game Dev Meetup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css"/>
  <link rel="stylesheet" href="/css/fontawesome/solid.min.css"/>
  <link rel="stylesheet" href="/css/fontawesome/brands.min.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
{% include header.html showLogo=page.showLogo %}
<main>
  {{content}}
</main>

<script src="/scripts/scripts.js"></script>
</body>
</html>
